* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
:root {
  --primary: #ed5f5e;
  --dark-grey: #434343;
  --light-grey: #767676;
  --even-lighter-grey: #A9A9A9;
  --background-light-grey: #f8f8f8;
}
h1 {
  font-size: 51px;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin: 10px;
  padding: 8px 0;
}
.NavBar-Big {
  padding: 0 50px;
  background-color: white;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.NavBar-Big ul {
  list-style: none;
  display: flex;
}
.NavBar-Big ul a {
  display: block;
  padding: 0 17px;
  line-height: 70px;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: var(--dark-grey);
  transition: color 0.3s ease-in-out;
}
.NavBar-Big ul a:hover {
  color: var(--primary);
}
.slide1 {
  background-image: url(../images/slide1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.slide1 p {
  color: white;
  letter-spacing: 3px;
  font-size: 20px;
  margin: 10px;
  font-weight: 300;
}
.slide1 a {
  padding: 10px 18px;
  color: var(--dark-grey);
  text-decoration: none;
  font-size: 12px;
  background-color: white;
  line-height: 1.5;
  font-weight: lighter;
  margin: 20px 0;
}
.slide2 {
  background-image: url(../images/slide2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  display: none;
}
.slide2 .content {
  text-align: left;
  width: 50%;
  padding: 20px;
  border: 1px solid red;
}
.slide2 h1 {
  color: black!important;
  font-size: 50px;
  text-align: left;
  line-height: 50px;
  margin: 0;
}
.slide2 p {
  font-size: 13px;
  padding: 8px 0;
  font-weight: 300;
}
.slide2 a {
  padding: 10px 18px;
  text-decoration: none;
  font-size: 12px;
  background-color: black;
  color: white;
  line-height: 1.5;
  font-weight: lighter;
  display: inline-block;
  margin: 15px 0;
}
.slide3 {
  background-image: url(../images/slide3.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}
.slide3 h1 {
  font-size: 50px;
  margin: 0;
}
.slide3 p {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  margin: 10px;
  font-weight: 300;
}
.slide3 a {
  padding: 10px 18px;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  font-size: 12px;
  line-height: 1.5;
  font-weight: lighter;
  margin: 30px 0;
  opacity: 0.8;
}
.container {
  min-width: 900px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
h2 {
  font-size: 26px;
  color: var(--dark-grey);
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0;
}
hr {
  width: 30px;
  height: 1px;
  background-color: var(--dark-grey);
  margin: 15px auto;
  border: none;
}
.padding-80 {
  padding: 80px 0;
}
.service_header {
  padding: 0 100px;
}
.service_header p {
  font-family: 'Lato', sans-serif;
  color: var(--even-lighter-grey);
  font-style: italic;
  font-size: 14px;
  text-align: center;
  font-weight: 100;
  line-height: 1.8em;
}
.service_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 30px;
}
.service_cards .card {
  background-color: var(--background-light-grey);
  padding: 40px 30px 30px;
}
.service_cards .card .icon_container {
  display: inline-block;
  color: white;
  background-color: var(--primary);
  width: 44px;
  height: 44px;
  text-align: center;
  font-size: 23px;
  line-height: 42px;
}
.service_cards .card p {
  font-family: 'Lato', sans-serif;
  text-align: left;
  font-style: normal;
  font-size: 14px;
  font-weight: 100;
  color: var(--light-grey);
  line-height: 1.8em;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 18px;
  margin: 35px 0 10px;
  color: var(--dark-grey);
}
#portfolio {
  background-color: var(--background-light-grey);
}
.portfolio_header ul {
  margin-top: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.portfolio_header a {
  text-decoration: none;
  color: var(--dark-grey);
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  background-color: white;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}
.portfolio_header a:hover {
  color: var(--primary);
}
.portfolio_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 40px;
}
.portfolio_cards img {
  width: 100%;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 26px;
  margin: 10px 0;
  color: var(--dark-grey);
  font-weight: 100;
}
.promo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.promo_content {
  padding: 0 15px;
  width: 54%;
}
.promo_content hr {
  margin: 15px 0;
}
.promo_content p {
  color: var(--light-grey);
  font-size: 14px;
  line-height: 1.8em;
  margin: 10px 0;
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
}
.promo_content p:first-of-type {
  margin-top: 25px;
}
.promo_content a {
  padding: 10px 18px;
  color: rgba(255, 255, 255, 0.815);
  text-decoration: none;
  font-size: 12px;
  background-color: var(--dark-grey);
  line-height: 1.5;
  font-weight: lighter;
  display: inline-block;
  margin: 25px 0;
}
.promo_img {
  padding: 0 15px;
  width: 45%;
}
.promo_img img {
  width: 100%;
}
.video_bgm {
  background-image: url(../images/video-bg.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.video_bgm::after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.733);
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
.video_bgm video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100vw;
  min-height: 100vh;
  opacity: 1;
}
.video_text {
  z-index: 9;
  color: white;
  text-align: center;
}
.video_text h3 {
  color: white;
}
.video_text hr {
  background-color: white;
}
.video_text p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}
