* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
:root {
  --primary: #ed5f5e;
  --dark-grey: #434343;
  --light-grey: #767676;
  --even-lighter-grey: #A9A9A9;
  --background-light-grey: #f8f8f8;
  --skillBar: #f0f0f0;
}
::selection {
  color: white;
  background: black;
}
.container {
  min-width: 900px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
hr {
  width: 30px;
  height: 1px;
  background-color: var(--dark-grey);
  margin: 15px auto;
  border: none;
}
.padding-80 {
  padding: 80px 0;
}
.padding-80-50 {
  padding-top: 80px;
  padding-bottom: 50px;
}
.section_header {
  padding: 0 250px;
}
.section_header p {
  font-family: 'Lato', sans-serif;
  color: var(--even-lighter-grey);
  font-style: italic;
  font-size: 14px;
  text-align: center;
  font-weight: 100;
  line-height: 1.8em;
}
h1 {
  font-size: 51px;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin: 10px;
  padding: 8px 0;
}
h2 {
  font-size: 26px;
  color: var(--dark-grey);
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 26px;
  margin: 10px 0;
  color: var(--dark-grey);
  font-weight: 100;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 18px;
  margin: 35px 0 10px;
  color: var(--dark-grey);
}
h6 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 200;
  color: var(--dark-grey);
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 15px;
}
.NavBar-Big {
  padding: 0 50px;
  background-color: white;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.NavBar-Big ul {
  list-style: none;
  display: flex;
}
.NavBar-Big ul a {
  display: block;
  padding: 0 17px;
  line-height: 70px;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: var(--dark-grey);
  transition: color 0.3s ease-in-out;
}
.NavBar-Big ul a:hover {
  color: var(--primary);
}
.slide1 {
  background-image: url(../images/slide1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.slide1 p {
  color: white;
  letter-spacing: 3px;
  font-size: 20px;
  margin: 10px;
  font-weight: 300;
}
.slide1 a {
  padding: 10px 18px;
  color: var(--dark-grey);
  text-decoration: none;
  font-size: 12px;
  background-color: white;
  line-height: 1.5;
  font-weight: lighter;
  margin: 20px 0;
}
.slide2 {
  background-image: url(../images/slide2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  display: none;
}
.slide2 .content {
  text-align: left;
  width: 50%;
  padding: 20px;
  border: 1px solid red;
}
.slide2 h1 {
  color: black!important;
  font-size: 50px;
  text-align: left;
  line-height: 50px;
  margin: 0;
}
.slide2 p {
  font-size: 13px;
  padding: 8px 0;
  font-weight: 300;
}
.slide2 a {
  padding: 10px 18px;
  text-decoration: none;
  font-size: 12px;
  background-color: black;
  color: white;
  line-height: 1.5;
  font-weight: lighter;
  display: inline-block;
  margin: 15px 0;
}
.slide3 {
  background-image: url(../images/slide3.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}
.slide3 h1 {
  font-size: 50px;
  margin: 0;
}
.slide3 p {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  margin: 10px;
  font-weight: 300;
}
.slide3 a {
  padding: 10px 18px;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  font-size: 12px;
  line-height: 1.5;
  font-weight: lighter;
  margin: 30px 0;
  opacity: 0.8;
}
.service_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 30px;
}
.service_cards .card {
  background-color: var(--background-light-grey);
  padding: 40px 30px 30px;
}
.service_cards .card .icon_container {
  display: inline-block;
  color: white;
  background-color: var(--primary);
  width: 44px;
  height: 44px;
  text-align: center;
  font-size: 23px;
  line-height: 42px;
}
.service_cards .card p {
  font-family: 'Lato', sans-serif;
  text-align: left;
  font-style: normal;
  font-size: 14px;
  font-weight: 100;
  color: var(--light-grey);
  line-height: 1.8em;
}
#portfolio {
  background-color: var(--background-light-grey);
}
.portfolio_header ul {
  margin-top: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.portfolio_header a {
  text-decoration: none;
  color: var(--dark-grey);
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  background-color: white;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}
.portfolio_header a:hover {
  color: var(--primary);
}
.portfolio_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 40px;
}
.portfolio_cards img {
  width: 100%;
}
.promo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.promo_content {
  padding: 0 15px;
  width: 54%;
}
.promo_content hr {
  margin: 15px 0;
}
.promo_content p {
  color: var(--light-grey);
  font-size: 14px;
  line-height: 1.8em;
  margin: 10px 0;
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
}
.promo_content p:first-of-type {
  margin-top: 25px;
}
.promo_content a {
  padding: 10px 18px;
  color: rgba(255, 255, 255, 0.815);
  text-decoration: none;
  font-size: 12px;
  background-color: var(--dark-grey);
  line-height: 1.5;
  font-weight: lighter;
  display: inline-block;
  margin: 25px 0;
}
.promo_img {
  padding: 0 15px;
  width: 45%;
}
.promo_img img {
  width: 100%;
}
.video_bgm {
  background-image: url(../images/video-bg.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.video_bgm::after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.733);
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
.video_bgm video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100vw;
  min-height: 100vh;
  opacity: 1;
}
.video_text {
  z-index: 9;
  color: white;
  text-align: center;
}
.video_text h3 {
  color: white;
}
.video_text hr {
  background-color: white;
}
.video_text p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}
.team_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.team_cards img {
  width: 100%;
  vertical-align: middle;
}
.team_cards .card_info {
  background-color: #fafafa;
  text-align: center;
  padding: 15px 0;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}
.team_cards .card_info h5 {
  font-size: 15px;
  color: var(--light-grey);
  font-family: 'Montserrat', sans-serif;
}
.team_cards .card_info p {
  font-size: 11px;
  color: #aaaaaa;
  font-family: 'Montserrat', sans-serif;
}
.skills_section {
  background-color: var(--background-light-grey);
}
.skills_section_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.skills_section_content header {
  margin-bottom: 30px;
}
.skills_section_content header hr {
  margin: 15px 0;
}
.skills_left {
  padding: 0 15px 40px;
}
.skills_left p {
  float: right;
  font-size: 12px;
  color: var(--light-grey);
  font-weight: 200;
}
.skillBar {
  width: 100%;
  background-color: var(--skillBar);
  margin-bottom: 20px;
}
.skillBar .fill1 {
  width: 80%;
}
.skillBar .fill2 {
  width: 90%;
}
.skillBar .fill3 {
  width: 60%;
}
.skillBar .fill4 {
  width: 73%;
}
.skillBar .fill5 {
  width: 75%;
}
.skillBar_filled {
  background-color: var(--primary);
  height: 3px;
}
.FAQ_right {
  padding: 0 15px 40px;
}
.answer {
  display: none;
  padding: 25px 40px;
  font-size: 14px;
  color: var(--light-grey);
  line-height: 1.5;
}
.accordion {
  background-color: white;
}
.accordion-item {
  border: 1px solid var(--background-light-grey);
}
.accordion-item a {
  display: block;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: var(--dark-grey);
  font-weight: 200;
  font-size: 14px;
  padding: 22px 40px;
}
.accordion-item a::after {
  content: '+';
  font-size: 18px;
  font-weight: 800;
  float: right;
}
.accordion-item:target .answer {
  display: block;
}
.accordion-item:target .accordion-link {
  background-color: var(--primary);
  color: white;
}
.accordion-item:target .accordion-link::after {
  content: '-';
}
.stats {
  display: grid;
  grid-template-columns: repeat(4, auto);
}
.stat-item {
  display: flex;
  align-items: center;
}
.stat-item-icon {
  display: inline-block;
  background-color: var(--primary);
  color: white;
  padding: 10px 10px;
  height: 20px;
  width: 20px;
  font-size: 20px;
  text-align: center;
}
.stat-item-number {
  display: inline-block;
  margin-left: 15px;
  font-size: 30px;
  color: var(--light-grey);
}
.stat-item-text {
  display: inline-block;
  font-size: 14px;
  color: var(--light-grey);
  margin-left: 15px;
}
.testimonials_bgm {
  background-image: url(../images/testimonial-bg.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  width: 100vw;
}
.testimonials_bgm::before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.493);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0%;
  z-index: 1;
}
.testimonials_bgm > * {
  position: relative;
  z-index: 3;
}
.testimonials_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials_content h2 {
  color: white;
  margin: 0;
}
.testimonials_content hr {
  background-color: white;
}
.testimonial-slide1 {
  max-width: 700px;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.testimonial-slide1 p {
  font-style: italic;
  margin: 20px 0;
  padding: 0 60px;
}
.testimonial-slide1 img {
  width: 60px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 10px 0;
}
.testimonial-slide1 h5 {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 200;
}
.BlogPost-cards {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}
.BlogPost-cards .card {
  background-color: var(--background-light-grey);
}
.blogPost-img img {
  width: 100%;
  vertical-align: middle;
}
.BlogPost-info {
  padding: 10px 25px;
  color: #999999;
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  font-style: italic;
}
.BlogPost-body {
  padding: 15px 25px 25px;
  font-family: 'Montserrat', sans-serif;
}
.BlogPost-body a {
  text-decoration: none;
}
.BlogPost-body .post-title {
  display: block;
  color: #5d5d5d;
  font-size: 18px;
  margin: 10px 0;
}
.BlogPost-body .post-title:hover {
  color: var(--primary);
}
.BlogPost-body p {
  color: var(--light-grey);
  font-size: 14px;
  margin: 10px 0;
  padding-bottom: 20px;
  font-weight: 200;
}
.BlogPost-body .read_more {
  display: block;
  font-size: 14px;
  color: var(--primary);
}
.clients {
  background-color: var(--background-light-grey);
}
.client-list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-items: center;
}
.client-logo {
  margin-top: 20px;
}
.client-logo img {
  max-width: 120px;
  opacity: 50%;
  transition: all 0.2s ease-in-out;
}
.client-logo img:hover {
  opacity: 1;
}
.contact_content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact_form {
  width: 100%;
}
.contact_form input {
  box-sizing: border-box;
  font-size: 12px;
  padding: 10px 15px;
  background-color: #f5f5f5;
  border: none;
}
.contact_form .form_first-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-bottom: 15px;
}
.contact_form .message {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  font-size: 12px;
  background-color: #f5f5f5;
  border: none;
  resize: vertical;
}
.contact_form button {
  background-color: var(--primary);
  color: white;
  font-size: 12px;
  padding: 10px 18px;
  border: none;
  margin-top: 20px;
}
.contact_info {
  padding: 0 15px;
  margin: 0 10px;
}
.contact_info p {
  color: var(--light-grey);
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 20px;
}
.contact_info_item {
  margin-bottom: 20px;
}
.contact-info-icon {
  display: block;
  text-align: center;
  float: left;
  margin-right: 15px;
  width: 20px;
  height: 20px;
  padding: 10px 10px;
  color: white;
  background-color: var(--primary);
}
.contact-info-title {
  display: block;
  font-style: 16px;
}
.contact-info-text {
  display: inline-block;
  font-size: 12px;
}
.site-footer {
  background-color: #2a2a2a;
  padding: 20px 0;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-info {
  color: #909090;
  font-size: 12px;
}
.footer-info a {
  text-decoration: none;
  color: var(--even-lighter-grey);
  transition: color 0.3s ease-in-out;
}
.footer-info a:hover {
  color: var(--primary);
}
.footer-icons a {
  display: inline-block;
  color: var(--even-lighter-grey);
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}
.footer-icons a:hover {
  background-color: var(--primary);
  color: white;
}
.footer-icons a i {
  width: 28px;
  height: 28px;
  line-height: 28px;
}
.scroll-to-top {
  display: block;
  position: fixed;
  text-decoration: none;
  color: white;
  background-color: var(--primary);
  text-align: center;
  font-size: 20px;
  z-index: 100;
  bottom: 20px;
  right: 40px;
}
.scroll-to-top i {
  width: 32px;
  height: 32px;
  line-height: 32px;
}
